<div class="center">
  <div class="nav-home p-6">
    <h3 class="flex justify-content-center font-italic text-4xl">Login</h3>
    <p-iftalabel class="pb-4">
      <input
        pInputText
        [class]="addClass"
        class="input-width"
        [(ngModel)]="emailId"
        autocomplete="off"
      />
      <label for="email">Username</label>
    </p-iftalabel>
    <p-iftalabel class="pb-4">
      <p-password
        class="block password"
        [class]="addClass"
        [(ngModel)]="password"
        [toggleMask]="true"
        [feedback]="false"
        inputId="password"
      />
      <label for="password">Password</label>
    </p-iftalabel>
    <p-message
      class="flex justify-content-center pb-2"
      severity="error"
      variant="simple"
      >{{ errorMessage }}</p-message
    >
    <div class="flex justify-content-center">
      <p-button label="Submit" (onClick)="userLoggedIn()" />
    </div>
    <div class="pt-2 flex justify-content-center align-items-center">
      <p class="">New User?</p>
      <p-button
        [link]="true"
        label="Register"
        (onClick)="getRegisterScreen()"
      />
    </div>
  </div>
</div>
